    * {
        margin: 0;
        padding: 0;
        outline: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background-color: rgb(38, 11, 216);
        color: white;
        font-weight: 300;
    }

    .main-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 20%;
        overflow-x: hidden;
    }

    .col1 {
        padding: 0 0.5rem;
    }

    .col2 {
        padding: 0 0.5rem;
    }

    /*-------------------- Column 1 -------------------- */
    .header {
        display: flex;
        padding: 0.5em;
    }

    .header h1 {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.2rem;
    }


    .table-container {
        height: 80vh;
        border-radius: 10px;
        overflow-y: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #10be7b;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: mediumblue;
    }

    th {
        padding: 0.1rem 0.5rem;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
    }

    tbody tr {
        transform: all 0.1s ease-in-out;
    }

    td {
        padding: 0.1rem 0.5rem;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid #0b9671;
    }

    tbody tr:nth-child(even) {
        background-color:plum
    }

    tbody tr:hover {
        background-color:lightpink;
        color: #000000;
    }

    /*-------------------- Column 2 -------------------- */
    .col2-header-container {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .col2-header h2 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }
     .col2-header p {
        font-size: 11px;
        font-weight: 300;
        color:greenyellow;
    }


    /*-------------------- Buttons -------------------- */
    .button {
        display: block;
        padding: 0.5rem 1rem;
        font-size: 14px;
        background-color:indianred;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        width: 4rem;
        margin: 0.2rem;
    }

    .btn.add {
        background-color: darkviolet;
        margin-left: 1rem;
    }

    .btn-edit {
        background-color: #00fa9a;
    }

    .btn-delete, .btn-cancel{
        background-color: mediumblue;
    }

    /*-------------------- Textbox -------------------- */

.textbox{
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.textbox input{
    width: 100%;
    height: 80%;
    border:none;
    color: brown;
    background-color: transparent;
    padding-top: 20px;
    font-size: 18px;
    outline: none;
}

.txtbox-label {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.txtbox-label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -2px;
    border-bottom: 2px solid deeppink;
    transform:translateX(-100%);
    transition: all 0.3s ease;
}

.placeholder {
 position: absolute;
 font-size: 18px;
 bottom: 0;
 left: 0;
 transition: all 0.3s ease;   
}
.textbox input:focus+ .txtbox-label .placeholder,
.textbox input:valid+ .txtbox-label .placeholder
{
    transform: translateY(-150%);
    font-size: 12px;
}

.textbox input:focus+ .txtbox-label::after,
.textbox input:valid+ .txtbox-label::after{
    transform: translateX(0%);

}